.root {
    -fx-background-color: #f3f3f3; /* Light gray background */
}

/* style.css */
.title-text {
    -fx-font-family: "Orbitron", "Segoe UI Semibold"; /* Techy font */
    -fx-font-size: 28px;
    -fx-fill: linear-gradient(to bottom, #00f2fe 0%, #4facfe 100%); /* Neon Blue Gradient */
    -fx-effect: dropshadow(three-pass-box, rgba(79, 172, 254, 0.8), 10, 0, 0, 0);
    -fx-font-weight: bold;
}

.modern-button {
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-min-width: 250;
    -fx-min-height: 180;
    -fx-font-size: 16px;
    -fx-font-family: "Segoe UI", Helvetica, Arial;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    /* Soft Shadow */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 5);
}

/* effect when mouse pointting to a button */
.modern-button:hover {
    -fx-background-color: #FAFFFF;
    -fx-translate-y: -3; /* Slight lift effect */
}

/*slider + label bounding around*/
/* The frosted-glass background box */
.box {
    -fx-background-color: #B5C5D5; 
    -fx-background-radius: 12;
}

/* The Track of slider line (Fixes the color leak) */
.slider .track {
    -fx-pref-height: 6;
    -fx-background-radius: 10;
    -fx-background-insets: 0 12 0 12; /* Pulls ends inward so thumb hides them */
}

/* The Target Thumb of slider */
.slider .thumb {
    -fx-background-color: #3B82F6, white, #EF4444; /* Blue, White, Red */
    -fx-background-insets: 0, 4, 9;                /* The spacing for the rings */
    -fx-background-radius: 50;                     /* Perfect circle */
    -fx-pref-width: 24;
    -fx-pref-height: 24;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 5, 0, 0, 2);
}
